{% if view=="order" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  {{group}}"  {{form_data}}>
		<div class="{{prefix}}wrap  {{mod}}  {{group}}">
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_mod, 
				group:heading_group, 
				level:heading_level, 
				heading:heading} %}	
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_sm_mod, 
				group:heading_sm_group, 
				level:heading_sm_level, 
				heading:heading_sm} %}			
				<div class="{{prefix}}row  grid__row  {{mod}}">				
					{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
						{
							"type":"text", 
							"id":"fio", 
							"form_id":ID,
							"required": "required", 
							"name":"имя фамилия", 
							"label":"имя фамилия",
						},
						{
							"type":"tel", 
							"id":"tel",
							"form_id":ID, 
							"required": "required", 
							"name":"Телефон", 
							"label":"Ваш телефон",
						},
						{
							"type":"text", 
							"id":"note",
							"form_id":ID, 
							"required": "required", 
							"name":"чем занимается ваша компания", 
							"label":"чем занимается ваша компания",
						}
					]} %}
					{# {% include "elem-tpl.twig" with {
						view: "textarea", 
						prefix:prefix, 
						mod:mod, 
						color:color, 
						id:"comments", 
						"form_id":ID, 
						name:"чем занимается ваша компания", 
						label:"чем занимается ваша компания",
					} %} #}
					<button type="submit" data-form-submit class="btn__item  is--modal">отправить</button>	
				</div>
		</div>
		<div class="{{prefix}}result  {{mod}}  {{group}}">
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_r_mod, 
				group:heading_r_group, 
				level:heading_r_level, 
				heading:heading_r} %}
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_r_sm_mod, 
				group:heading_r_sm_group, 
				level:heading_r_sm_level, 
				heading:heading_r_sm} 
			%}
		</div>
	</form>
{% endif %}