{% if view == "team_card" %}
	{% for value in list %}		
	<div class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" alt="{{value.heading}}" class="img-responsive">
		</div>
		<div class="{{prefix}}wrap  {{mod}}">
			<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
			<p class="{{prefix}}label  {{mod}}">{{value.label}}</p>
			{% if value.note %}<p class="{{prefix}}note  {{mod}}">{{value.note}}</p>{% endif %}		
		</div> 
	</div> 
	{% endfor %}
{% endif %}

{% if view == "works_card" %}
	{% for value in list %}		
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" alt="{{value.heading}}" class="img-responsive">
		</div>
		<p class="{{prefix}}heading  {{mod}}">
			<span>{{value.name}}</span>
			<span class="{{prefix}}icon  {{mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:"arrow-next"} %}
			</span>
		</p>
		{% if value.note %}<p class="{{prefix}}note  {{mod}}">{{value.note}}</p>{% endif %}		
		<p class="{{prefix}}label  {{mod}}">{{value.label}}</p>
	</a> 
	{% endfor %}
{% endif %}

{% if view == "works_gallery" %}
	<div class="{{prefix}}group  {{mod}}">
		{% for value in list %}		
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}row  {{mod}}  {{value.type}}">
				{% for v in value.sublist %}
				<div class="{{prefix}}preview  {{mod}}">
					<img src="{{v.img}}" alt="" class="img-responsive">
				</div>
			{% endfor %}
			</div>
			{% if value.note %}<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>{% endif %}		
		</div> 
		{% endfor %}
	</div> 
{% endif %}

{% if view == "works_card_xs" %}
	<div class="{{prefix}}row  {{mod}}">
		{% for value in list %}		
		<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}preview  {{mod}}">
				<img src="{{value.img}}" alt="{{value.heading}}" class="img-responsive">
			</div>
		</a> 
		{% endfor %}
	</div>
{% endif %}