<div class="{{prefix}}block">
	<div class="{{prefix}}group  panel-group" id="{{id}}" role="tablist">
		{% for value in list %}
		<div class="{{prefix}}panel  panel  {% if value.active %}is--open{% endif %}">
			<a class="{{prefix}}link" role="button" data-toggle="collapse" data-parent="#{{id}}" href="#{{id}}_{{value.id}}" aria-expanded="{% if value.active %}true{% else %}false{% endif %}">
				<span>{% include "../svg-sprite/svg.twig" with {icon:"marker"} %}</span> {{value.name}}
			</a>
			<div id="{{id}}_{{value.id}}" class="collapse {% if value.active %}in{% endif %}" role="tabpanel">
				<div class="{{prefix}}item-group">
					{% for v in value.sublist %}
					<label class="{{prefix}}item">
						<input type="checkbox" class="{{prefix}}input">
						<span class="{{prefix}}name">
							<span>{% include "../svg-sprite/svg.twig" with {icon:"filter-active"} %}</span>
							{{v.name}}
						</span>
					</label>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>