<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}
			</button>
			<div class="{{prefix}}content  {{mod}}">
				{% if ID == "modal-order" %}	

					{% include "../form/form.twig" with {
						view: 			"order", 
						prefix:			"form__", 
						open:			"true", 
						group:			"  ", 
						mod:			"is--modal", 
						color:			"", 
						ID: 			"fm_order",  

						heading:		"Будем рады познакомиться и обсудить новый проект!", 
						heading_level:	"h3", 
						heading_group:	"", 
						heading_mod:	"is--h3  font-family--custom  is--modal-order",
						heading_sm:		"Свяжитесь, пожалуйста, с нами, и мы вышлем вам подборку наших кейсов из категории вашего бизнеса", 
						heading_sm_level:"p", 
						heading_sm_mod:	"is--h5  is--modal-order-xs",
						heading_r:		"Спасибо!<br> Заявка отправлена", 
						heading_r_level:"h3", 
						heading_r_mod:	"is--h3  font-family--custom  is--modal-order",
						heading_r_sm:	"Вам перезвонят", 
						heading_r_sm_level:	"p", 
						heading_r_sm_mod:	"is--h5"
					} %}
				{% endif %}	
			</div> 
		</div>
	</div>
</div>