{% if view == "agency_page" %}
	<section class="{{content_prefix}}panel  is--page-base">
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{prefix.card}}item  {{content_mod}}  is--right">
			<h3>наша цель</h3>
			<p>Развивать партнерские отношения, предлагая брендам новое видение, новые творческие и технологические решения для роста.</p>
		</div>
		<div class="{{prefix.card}}item  {{content_mod}}  is--whowow">
			<h3 class="{{prefix.card}}heading  {{content_mod}}  is--whowow">why <span>wow</span></h3>
			{% include "../common/card/card.twig" with {
			 	view: "slogan", 
			 	prefix:prefix.card, 
			 	mod:content_mod, 
			} %}
		</div>
		<div class="{{prefix.card}}item  {{content_mod}}  is--approach">
			<h3 class="{{prefix.card}}heading  {{content_mod}}  is--approach">наш<br> подход</h3>
			<div class="{{prefix.card}}row  {{content_mod}}  is--approach">
				<div class="{{prefix.card}}group  {{content_mod}}  is--approach">
					<h4>why</h4>
					<p>Любой проект мы начинаем с поиска ответа на вопрос WHY. Зачем это людям, зачем это миру, зачем это бизнесу?</p>
				</div>
				<div class="{{prefix.card}}group  {{content_mod}}  is--approach">
					<h4>wow</h4>
					<p>Это та реакция, которую мы хотим получить от аудитории в результате контакта вашего бренда с ней.</p>
				</div>
			</div>
		</div>
		<div class="{{prefix.card}}item  {{content_mod}}  is--works">
			<h2 class="{{prefix.card}}heading  {{content_mod}}  is--works">что <br><span>&nbsp;&nbsp;</span>делаем?</h2>
			<div class="panel-group" data-tablist id="{{works_id}}" role="tablist">
				{% for value in works %}
				<div class="{{prefix.card}}group  panel  {{content_mod}}  is--works  {% if value.active %}is--open{% endif %}">
					<a class="{{prefix.card}}label  {{content_mod}}  is--works" role="button" data-toggle="collapse" data-parent="#{{works_id}}" href="#{{works_id}}_{{value.id}}" aria-expanded="{% if value.active %}true{% else %}false{% endif %}">
						<span>{% include "../common/svg-sprite/svg.twig" with {icon:"marker"} %}</span> {{value.name}}
					</a>
					<div id="{{works_id}}_{{value.id}}" class="collapse {% if value.active %}in{% endif %}" role="tabpanel">
						<div class="{{prefix.card}}group-value  {{content_mod}}  is--works">
							{% for wl in value.work_list %}
								<ul>
									{% for wlc in wl.work_list_col %}
										<li>
											{{wlc.name}}
										</li>
									{% endfor %}
								</ul>							
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="{{prefix.card}}item  {{content_mod}}  is--team">
			<h2 class="{{prefix.card}}heading  {{content_mod}}  is--team">команда</h2>
			<div class="{{prefix.card}}row  {{content_mod}}  is--team">
				{% include "../common/card/card.twig" with {
				 	view: "team_card", 
				 	prefix:prefix.card, 
				 	mod:"is--team-card", 
				 	list:team
				} %}
			</div>
		</div>
		<div class="{{content_prefix}}btn  {{content_mod}}">
			{% include "../common/button/btn.twig" with {
				view:"modal",
				prefix:"btn__", 
				mod:"", 
				target:"modal-order", 
				name:"заказать проект"
			} %}
		</div>
	</section>
{% endif %}
