{% if view == "index_header" %}
	<section class="{{content_prefix}}wrap  {{content_mod}}">
		<{{heading_level}} class="page-header__heading  {{heading_mod}}" {% if heading_color %} style="-webkit-text-stroke: 2px {{heading_color}};"{% endif %}>{{heading}}</{{heading_level}}>	
		
		<div class="{{content_prefix}}slider  {{content_mod}}" data-slick-header>
			{% include "../common/card/card.twig" with {
			 	view: "works_card", 
			 	prefix:prefix.card, 
			 	mod:[content_mod,"  is--work"].join(""), 
			 	list:list
			} %}
		</div>

		<div class="{{content_prefix}}bg  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
			<video autoplay loop playsinline muted poster="{{bg}}">
				<source src="{{video}}" type="video/mp4">
			</video>
		</div>	
		{% include "../common/card/card.twig" with {
		 	view: "slogan", 
		 	prefix:prefix.card, 
		 	mod:content_mod, 
		} %}
	</section>
{% endif %}