{% if view == "index_works_page" %}
	<section class="{{content_prefix}}panel  is--page-index-works">
		{# {% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %} #}
		<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
			{% include "../common/card/card.twig" with {
			 	view: "works_card", 
			 	prefix:prefix.card, 
			 	mod:"is--works-card", 
			 	list:list
			} %}
		</div>
		<div class="{{content_prefix}}btn  is--page-index-works">
			{% include "../common/button/btn.twig" with {
				view:"link",
				prefix:"link__", 
				mod:"", 
				icon: 'arrow-next',
				link:page.works, 
				name:"Все проекты"
			} %}
		</div>
	</section>
{% endif %}

{% if view == "works_page" %}
	<section class="{{content_prefix}}panel  is--page-base">
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{content_prefix}}filter  {{content_mod}}">
			{% include "../common/filter/tpl.twig" with {
				prefix:"filter__",
				id:"filter_base",
                list:[
                    {
                    	id:"cat",
                    	name:"категории",
						sublist:[
	                        {name:"все"},
	                        {name:"авто"},
	                        {name:"девелопмент"},
	                        {name:"еда/напитки"},
	                        {name:"медицина"},
	                        {name:"образование"},
	                        {name:"рестораны/кафе"},
	                        {name:"ритейл"},
	                        {name:"СМИ/ТВ/медиа"},
	                    ],
                	},
                    {
                    	id:"serv",
                    	name:"услуги",
                	},
                    {
                    	id:"clients",
                    	name:"клиенты",
                	}
                ] 
			} %}  
		</div>
		<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
			{% include "../common/card/card.twig" with {
			 	view: "works_card", 
			 	prefix:prefix.card, 
			 	mod:"is--works-card", 
			 	list:list
			} %}
		</div>
	</section>
{% endif %}

{% if view == "works_card" %}
	<section class="{{content_prefix}}panel  is--page-base">
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
			<div class="{{prefix.card}}item  {{content_mod}}" >
				<h2 class="{{prefix.card}}heading  {{content_mod}}">задача</h3>
				<div class="{{prefix.card}}note  {{content_mod}}">
					{{task}}			
				</div>
			</div>
			<div class="{{prefix.card}}item  {{content_mod}}" >
				<h2 class="{{prefix.card}}heading  {{content_mod}}">решение</h3>
				<div class="{{prefix.card}}note  {{content_mod}}">
					{{decision}}			
				</div>
			</div>
			<div class="{{prefix.card}}label  {{content_mod}}" >
				{{label}} 
			</div>
		</div>
		{% include "../common/card/card.twig" with {
		 	view: "works_gallery", 
		 	prefix:prefix.card, 
		 	mod:"is--works-gallery", 
		 	list:list
		} %}			
		<div class="{{content_prefix}}btn  {{content_mod}}">
			{% include "../common/button/btn.twig" with {
				view:"modal",
				prefix:"btn__", 
				mod:"", 
				target:"modal-order", 
				name:"заказать проект"
			} %}
		</div>
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_xs_mod,
			level:heading_xs_level, 
			heading:heading_xs
		} %}
		<div class="{{content_prefix}}slider  is--block-works"  data-slick-works>
			{% include "../common/card/card.twig" with {
			 	view: "works_card", 
			 	prefix:prefix.card, 
			 	mod:"is--works-card  is--block", 
			 	list:works
			} %}
		</div>
	</section>
{% endif %}