<nav class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}header  {{navbar_mod}}">
		<div class="{{navbar_prefix}}header-row row">
			<div class="{{navbar_prefix}}header-cols cols  is--logotip">
				<a class="{{navbar_prefix}}logotip  {{navbar_mod}}" href="{{page.index}}">
					{% if view == "index" %}
					{% include "logo.twig" with {
					 	view: "full", 
					 	prefix:navbar_prefix, 
					 	mod:navbar_mod, 
					} %}
					{% else %}					
					{% include "logo.twig" with {
					 	view: "xs", 
					 	prefix:navbar_prefix, 
					 	mod:navbar_mod, 
					} %}
					{% endif %}	
				</a>
			</div>
			<div class="{{navbar_prefix}}header-cols cols  is--hamb">
				<button class="{{navbar_prefix}}hamburger" data-name="Меню" data-hamburger>
					<span class="{{navbar_prefix}}hamburger-icon">
						<span class="{{navbar_prefix}}hamburger-line  is--left"></span>
						<span class="{{navbar_prefix}}hamburger-line  is--center"></span>
						<span class="{{navbar_prefix}}hamburger-line  is--right"></span>
					</span>
				</button>
			</div>
		</div>
	</div>
	<div class="{{navbar_prefix}}collapse  {{navbar_mod}}" >
		<div class="{{navbar_prefix}}collapse-inner  {{navbar_mod}}">
			<div class="{{navbar_prefix}}container container  is--collapse">	
				<div class="{{navbar_prefix}}collapse-row  {{navbar_mod}}">
					<div class="{{navbar_prefix}}collapse-cols  is--logotip">
						<a class="{{navbar_prefix}}logotip  {{navbar_mod}}" href="{{page.index}}">
							{% if view == "index" %}
							{% include "logo.twig" with {
							 	view: "full", 
							 	prefix:navbar_prefix, 
							 	mod:navbar_mod, 
							} %}	
							{% else %}					
							{% include "logo.twig" with {
							 	view: "xs", 
							 	prefix:navbar_prefix, 
							 	mod:navbar_mod, 
							} %}
							{% endif %}		
						</a>
						{% if view == "index" %}
						<a class="{{navbar_prefix}}logotip  {{navbar_mod}}-xs" href="{{page.index}}">			
							{% include "logo.twig" with {
							 	view: "xs", 
							 	prefix:navbar_prefix, 
							 	mod:"is--index-xs", 
							} %}
						</a>
						{% endif %}	
					</div>
					<div class="{{navbar_prefix}}collapse-cols  is--navbar">
						<ul class="{{navbar_prefix}}nav">
							{% set navbar = [
								{"name":"Главная", "link":page.index},
								{"name":"Работы", "link":page.works},
								{"name":"Агентство", "link":page.agency},
								{"name":"Шоурум", "link":""},
								{"name":"Контакты", "link":page.contacts},
							] %}
						    {% for value in navbar %}
							<li class="{{navbar_prefix}}nav-item  {{value.mod}}">
								<a href="{{value.link}}" class="{{navbar_prefix}}nav-link  {% if value.link == active %}is--active{% endif %}  {{navbar_mod}}">
									{{value.name}}
								</a>
							</li>
						    {% endfor %}
						</ul>
					</div>
					{% if filter %}
					<div class="{{navbar_prefix}}collapse-cols  is--filter">
						{% include "../filter/tpl.twig" with {
							prefix:"filter__",
							id:"filter",
							active: true,
		                    list:filter
						} %}  
					</div>							
					{% endif %}	
					<div class="{{navbar_prefix}}collapse-cols  is--lang  {{navbar_mod}}">
						{% include "../lang/tpl.twig" with {
							prefix:"lang__",
							mod:[navbar_mod,"is--navbar"].join("  "), 
							active: lang_active, 
							icon: lang_icon,
							lang_ru_link: lang_ru,
							lang_en_link: lang_en
						}%}		   
					</div>	
					<div class="{{navbar_prefix}}collapse-cols  is--soc">	
						{% include "../social/tpl.twig" with {
							prefix:"social__",
							mod:"is--navbar", 
							list:[
								{name:"soc-fb", link:soc.fb},
								{name:"soc-inst", link:soc.inst},
								{name:"soc-yb", link:soc.yb},
								{name:"soc-v", link:soc.v},
								{name:"soc-be", link:soc.be},
							]} 
						%}				   
					</div>						   
				</div>
			</div>
		</div>
	</div>
</nav>